h1{
    color: rgba(103, 1, 199, 0.699);
    font-size: 90px;
    text-align: center;
}
body{
    margin: 3px;
    background: linear-gradient(rgb(240, 223, 240), rgb(215, 172, 255) 
);
}


h3{
    font-size: 40px;
    text-align: center;
    color: rgb(114, 0, 108);

}

